.headline{
    /* 標題的尺寸與粗體 */
    font-size:30px;font-weight:bold;
    /*間隔；置中*/
    margin-bottom:15px;text-align:center;
}
.desktop-menu{
    /* 文字置中設定 */
    text-align:center;
    /* 電腦版先顯示 */
    display:block;
}
.mobile-menu{
    text-align:center;
    /* 手機版先隱藏 */
    display:none;
}
.list{
    /*水平配置；置中*/
    display:flex;
    justify-content:center;
}

.product{
    /*水平配置；寬度設定；間距設定*/
    flex:none;width:280px;margin:10px;
    background-color:#ffcccc;
}
/* 配合螢幕大小的設定 */
@media (max-width:1250px){
    /* 螢幕寬度小於1250px，套用這個區塊的CSS */
    .list{
        flex-wrap:wrap;
    }
    .product{
        width:45%;
    }
}

@media (max-width:500px){
    /* 螢幕寬度小於500px，套用這個區塊的CSS */
   /*手機螢幕的顯示方式設定*/
   .headline{
        font-size:20px;
    } 
    .desktop-menu{
        /* 電腦版隱藏 */
        display:none;
    }
    .mobile-menu{
        /* 手機版顯示 */
        display:block;
    }
   .product{
        width:90%;
    }

}